html,body{
    width: 100%;
    height: 100%;
}
body {
  background-color: #010101;
	font-family: Courier New, Sans-serif;
	font-size: 18px;
	color: #fff;
	margin: 0;
}
footer {
  font-size: 0.7em;
  padding: 1.5em 0;
  color: #aaa;
}

a {
  color: #dadada;
}
header p {
  font-size: 1.1em;
}
b, u, i, strong, em {
	animation: rainbow-t 20s forwards linear infinite;
}
.main-title {
  font-family: 'Alex Brush', cursive;
  font-weight: 200;
  font-size: 5vh;
  margin: 0;
}
.social-media {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: .7em 0;
  font-size: 1.7em;
  color: #FFF;
}
.social-media a svg {
  transition: .1s;
}
.social-media a:hover svg {
  color: rgb(255,200,200);
	animation: rainbow-s 3s forwards linear infinite;
  animation-delay: .1s;
}


/*** animações ***/

@keyframes rainbow-t {
  0%, 100% {color: red;}
  8.33%, 91.63% {color: orange;}
  16.66%, 83.3% {color: yellow;}
  24.99%, 74.97% {color: green;}
  33.32%, 66.64% {color: #3434FF;}
  41.65%, 58.31% {color: BlueViolet;}
  49.98% {color: purple;}
}
@keyframes rainbow-h {
  from {background-position: top;}
  to {background-position: bottom;}
}
@keyframes rainbow-w {
  from {background-position: left;}
  to {background-position: right;}
}
@keyframes rainbow-s {
  0%, 100% {color: rgb(255,200,200);}
  8.33%, 91.63% {color: rgb(255, 226, 173);}
  16.66%, 83.3% {color: rgb(255, 255, 173);}
  24.99%, 74.97% {color: rgb(200,255,200);}
  33.32%, 66.64% {color: rgb(200,200,255);}
  41.65%, 58.31% {color: rgb(232, 201, 255);}
  49.98% {color: rgb(255, 230, 255);}
}




/**** vertical ***/

@media all and (orientation:landscape) {
  header {
    width: 48%;
    height: 100%;
    position: fixed;
    display: block;
    top: 0;
  }
  article {
    width: 48%;
    margin-left: 50%;
    padding-bottom: 3em;
    transform: translateY(30vh);
    text-align: right;
  }
  .back-title {
    display: inline-block;
    position: absolute;
    top: 50vh;
    left: 1em;
    transform: translateY(-50%);
  }
  .divider-h {
    width: 5px;
    height: 100%;
    display: inline-block;
    background: linear-gradient(red, orange, yellow, green, #3434FF, BlueViolet, purple, BlueViolet, #3434FF, green, yellow, orange, red);
    animation: rainbow-h 20s forwards linear infinite;
    background-size: auto 13000%;
  }

  .divider-w {
    width: 100%;
    height: 2px;
    border-radius: 100%;
    background: linear-gradient(to left, red, orange, yellow, green, #3434FF, BlueViolet, purple, BlueViolet, #3434FF, green, yellow, orange, red);
    animation: rainbow-w 20s forwards linear infinite;
    background-size: 13000% auto;
  }
  footer {
    width: 48%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}




/*** horizontal ***/

@media all and (orientation:portrait) {
  body {
    font-size: 2vh;
  }
  article {
    margin: 1em;
  }
  header {
    text-align: center;
    margin-bottom: 2.5em;
    margin-top: 1em;
  }
  .main-title {
    font-size: 3em;
  }
  .divider-h {
    width: 100%;
    height: 5px;
    position: fixed;
    top: 0;
    background: linear-gradient(to left, red, orange, yellow, green, #3434FF, BlueViolet, purple, BlueViolet, #3434FF, green, yellow, orange, red);
    animation: rainbow-w 20s forwards linear infinite;
    background-size: 13000% auto;
  }
  .divider-w {
    width: 70%;
    height: 2px;
    margin: 0 auto;
    border-radius: 100%;
    background: linear-gradient(red, orange, yellow, green, #3434FF, BlueViolet, purple, BlueViolet, #3434FF, green, yellow, orange, red);
    animation: rainbow-h 20s forwards linear infinite;
    background-size: auto 13000%;
  }
  footer {
    display: block;
  }
}

