html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background: #222;
	font: 12px Verdana, Sans-serif;
	color: #fff;
	margin: 0;
  position: relative;
  padding-bottom: 5em;
  min-height: 100%;
}

header {
	width: 60%;
  margin: 0 auto;
}

footer {
  position: absolute;
  margin: 0 auto;
  min-width: 70%;
  bottom: 0;
  left: 15%;
  padding: 1rem;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.05);
}

a {
	color: #dadada;
}

.main-title {
	font-family: 'Alex Brush', cursive;
	font-weight: 200;
	font-size: 6em;
	margin: 0;
	padding-top: 5px;
	margin-bottom: -10px;
}
nav ul {
  list-style: none;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul li {
  display: inline;
}
nav a {
  text-decoration: none;
}

.content {
  width: 70%;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 7em;
}

.social-media {
	width: 20%;
	display: flex;
	justify-content: space-around;
	align-items: center;
  padding: 0.2em;
	font-size: 1.7em;
  margin: 0 auto;
}
.social-media a {
	color: #FFF;
}
.social-media a:hover .fa-file-text {
	color: #e49130;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}
.social-media a:hover .fa-facebook-square {
	color: #3b5998;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}
.social-media a:hover .fa-twitter-square {
	color: #55acee;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}
.social-media a:hover .fa-github-square {
	color: #000;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}
.social-media a:hover .fa-linkedin-square {
	color: #0077b5;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}
.social-media a:hover .fa-envelope {
	color: #A83329;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

@-webkit-keyframes rainbow {
	from { background-position:top left; }
	to { background-position:top right; }
}
@-moz-keyframes rainbow {
	from { background-position:top left; }
	to { background-position:top right; }
}
.divider {
	width: 100%;
	height: 5px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;

	background: -webkit-linear-gradient( left, red, orange, yellow, green, blue, indigo, violet, indigo, blue, green, yellow, orange, red );
	background: -moz-linear-gradient( left, red, orange, yellow, green,  blue, indigo, violet, indigo, blue, green, yellow, orange,red );
	background: -o-linear-gradient( left, red, orange, yellow, green, blue, indigo, violet, indigo, blue, green, yellow, orange,red );
	background: linear-gradient( left, red, orange, yellow, green, blue, indigo, violet, indigo, blue, green, yellow, orange,red );
	-moz-animation: rainbow 20s forwards linear infinite;
	-webkit-animation: rainbow 20s forwards linear infinite;
	-o-animation: rainbow 20s forwards linear infinite;
	animation: rainbow 20s forwards linear infinite;
	background-size: 13000% auto;
}


@media only screen and (orientation: portrait) {
  header {
    margin: 0 auto;
  }
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  z-index: -1;
  opacity: 0.15;
}
